.rides {

}

.rideDescription1, .rideDescription2, .rideDescription3, .rideDescription4 {
  display: none;
  background-color: yellow;
}

/* 24 inches or shorter */
.green {
  background-color: green;
}

.red {
  background-color: red;
}
